<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="bg-black">
<div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">HEADER</h1>
        <p class="lead text-muted">Something.</p>
        <p>
          <a href="{% url 'main_page' %}" class="btn btn-primary my-2">Main page</a>
          <a href="{% url 'forum_page' %}" class="btn btn-secondary my-2">Forum</a>
            <a href="{% url 'create_task' %}" class="btn btn-secondary my-2">Create task</a>
            <a href="{% url 'Calculator' %}" class="btn btn-secondary my-2">Calculation</a>
            <a href="{% url 'fight' %}" class="btn btn-secondary my-2">Fight</a>
            <a href="{% url 'fight_create' %}" class="btn btn-secondary my-2">try your luck</a>
        </p>
      </div>
    </div>


    <div class="container-fluid">
    {% block content %}

        {% endblock %}
    </div>
</body>
</html>
